<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="reportPortal" type="ReportPortal.VSTest.ReportPortalSection, ReportPortal.VSTest, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <reportPortal enabled="true" logConsoleOutput="true">
    <server url="https://rp.epam.com/api/v1/" project="default_project">
      <authentication username="default" password="45c00b4f-a893-4365-89be-8c1b89e30ffb"/>
      <proxy server="3000:80" username="default" password="test"/>
    </server>
    <launch name="VSTest Demo Launch" debugMode="true" tags="t1,t2"/>
  </reportPortal>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>
